.main-div-login {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #3A77FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    z-index: 1;
  }

  .fefpaejf {
    
  }
  
  .second-login-page-div {
    padding-top: 96px;
  }
  
  .action-menu {
    height: 600px;
    max-width: 400px;
    display: inline-block;
    width: 100vw;
    align-self: center;
    margin-bottom: 26px;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 20px; /* Add padding for better spacing */
  }
  
  .top-buttons {
    display: flex;
    margin-bottom: 20px;
  }
  
  .selected-act {
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #7F9799;
    color: #406367;
    cursor: pointer;
    display: inline-flex;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 18px;
    margin: 0;
    padding: 16px 24px;
    white-space: nowrap;
    border-bottom: 2px solid #002F34;
    color: #002F34;
    font-weight: 700;
  }

  .not-selected-act {
    width: 50%;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    color:#333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    
  }
  
  .input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .enter-button {
    width: 100%;
    align-self: center;
    --displayUnderline: none;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Geomanist, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    letter-spacing: 0.7px;
    line-height: 20px;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    --textColor: #FFFFFF;
    --bgColor: #002F34;
    --borderColor: #002F34;
    --outlineColor: #CEDDFF;
    background: var(--bgColor);
    color: var(--textColor);
    margin-top: 32px
  }
  

link {
    color: inherit; /* or set your desired color */
    text-decoration: none; /* Remove the default underline */
}

link:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}

.main-div-login::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  max-width: 1236px;
  max-height: 1236px;
  border: 100px solid #CEDDFF;
  border-radius: 50%;
  z-index: -1;
  animation: expandCircle 2s ease-out 0.1s forwards;
}

@keyframes expandCircle {
  0% {
      width: 300px;
      height: 300px;
  }
  100% {
      width: 1000px;
      height: 1000px;
  }
}

  /* Add this class for styling the circular background */
  .main-div-login-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    height: 90vw;
    max-width: 1236px;
    max-height: 1236px;
    background-color: #CEDDFF;
    border-radius: 50%;
    z-index: -1; /* Ensure the background is behind the content */
  }
  