.root {
    min-height: 350px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit; /* or set your desired color */
    text-decoration: none; /* Remove the default underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}

.list-links-ss {
    margin-top: 50px;
    width: 86%;
    
    display: flex;
    flex-direction: row;
}

.text-links-list {
    width: 280px;
    padding: 0;
    margin: 0 16px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.88;
    list-style: none;
}

.text-link {
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    color: #002F34;
}

.list-download-app-image {    
    display: flex;
    flex-direction: row;
    gap:10px;
}

.link-download {
    max-width: 120px;
}
.mini-text {
    align-items: center;
    color: #7F9799;
    font-size: 12px;
    text-align: center;
}